.page_container{
    height: 80vh;
    width: 100vw;
    background-color:rgb(230, 177, 124) ;
}

.child_container{
    height: 10%;
    width: 100vw;
    transition: all ease-out 1s ;
    background-color: #f8f8f8;
    overflow-x: hidden;
}
.move_left{
    background-color: #f8f8f8;
    transform: translateX(100%);
}
.move_right{
    transform: translateX(-100%);
}
.child_body_container{
    height: 80%;
    width: 100vw;
    background-color:#f8f8f8;
    display: flex;
}